*{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav{
  text-align: center;
  margin-top: 4px;
  padding-bottom: 4px;
  background-color: transparent;
}
nav a{
  color: black;
  margin-right: 4px;
}
.btn{
  position: fixed; 
  top: 1px; 
  left: 1px;
  min-width: fit-content!important;
  padding: 1px 4px!important;
  text-transform: uppercase;
}